<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="chrome,ie=edge">
	<title>DaVanMonet</title>
	<link rel="stylesheet" href="./lib/highlight.js@9.12.0/github.css"/>
	<link rel="stylesheet/less" type="text/css" href="./static/style.less" />
	
	<script data-main="./static/main" src="./lib/require.js@2.3.5/require.min.js"></script>
</head>
	<body class="davanmonet-body">

	<div id="davanmonet-app" class="davanmonet-app">
		<header class="davanmonet-header">
			<a href="./" class="davanmonet-header-logolink"><img class="davanmonet-header-logo" src="./static/logo.png"></a>
			<nav class="davanmonet-header-nav">
				<a href="./" class="davanmonet-header-nav-link">Home</a>
			</nav>
			<a href="https://github.com/wezz/DaVanMonet" class="davanmonet-header-github-link" title="Go to the GitHub Repository"><img alt="Image of the github logo" class="davanmonet-header-github-logo" src="./static/github-mark.svg"></a>
		</header>
		<navigation 
			class="davanmonet-navcontainer" 
			v-if="configLoaded == true"
			:navigation="navigation" 
			:source-directory="projectConfig.directories.src"></navigation>
		<maincontent 
			class="davanmonet-maincontentcontainer" 
			v-if="configLoaded == true && maincontent"
			:content="maincontent"></maincontent>
		<div v-if="configLoaded == false">
			Loading...
		</div>
	</div>
	<script type="text/x-template" id="vuetemplate-navigation">
		<nav v-if="navigation && navigation.length > 0" class="davanmonet-nav">
			<navigation-list :items="navigation" :source-directory="sourceDirectory" :level="1"></navigation-list>
		</nav>
	</script>
	<script type="text/x-template" id="vuetemplate-navigationlist">
		<ul v-if="items && items.length > 0" class="davanmonet-nav-list" :data-listlevel="level">
				<li v-for="item in items" class="davanmonet-nav-listitem">
					<div v-if="item.href">
						<a
							v-bind:href="'#/' + item.href"
							v-on:click="onNavigationClick"
							class="davanmonet-nav-link"
							>{{item.title}}</a>
					</div>
					<div v-else>
						<strong class="davanmonet-nav-directory">{{item.title}}</strong>
					</div>
					<div v-if="item.items && item.items.length > 0">
						<navigation-list :items="item.items" :source-directory="sourceDirectory" :level="level +1"></navigation-list>
					</div>
			</li>
		</ul>
	</script>
		<script type="text/x-template" id="vuetemplate-maincontent">
			<div class="davanmonet-maincontentcontainer">
				<h1 class="davanmonet-maincontent-headline" v-html="content.title"></h1>
				<div class="davanmonet-maincontent-content" v-html="content.content"></div>
				<!-- <component-showcase-render 
					v-if="state.title === selectedStateTitle" 
					v-for="state in showcaseData.states" 
					:key="state.title" 
					:renderSource="state.renderSource" 
					:iframeContentHeight.sync="iframeContentHeight">
				</component-showcase-render> -->

				<div v-if="content.sections" class="davanmonet-maincontent-sections">
					<div v-for="section in content.sections" class="davanmonet-maincontent-section">
						<h1 class="davanmonet-maincontent-section-headline" v-html="section.title"></h1>
						<div class="davanmonet-maincontent-section-content" v-html="section.content">

						</div>
						<div v-if="section.id" class="davanmonet-maincontent-section-id">{{section.id}}</div>
					</div>			
				</div>


				<div v-if="content.id" class="davanmonet-maincontent-id">{{content.id}}</div>
				
			</div>
		</script>
	</body>
</html>
