<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="chrome,ie=edge">
	<title>DaVanMonet</title>
	<link rel="stylesheet" href="/lib/highlight.js@9.12.0/github.css"/>
	<link rel="stylesheet/less" type="text/css" href="/static/styles/style.less" />
	<link rel="stylesheet/less" type="text/css" href="/static/styles/showcase.less" />
	
	<script data-main="/static/main.es6" src="/lib/require.js@2.3.5/require.min.js"></script>
</head>
	<body class="davanmonet-body">

	<div id="davanmonet-app" class="davanmonet-app">
		<!-- <component-showcase-csslinks :csslinks="targetIndex.items"></component-showcase-csslinks> -->
		<header class="davanmonet-header">
			<a href="/" class="davanmonet-header-logolink"><img class="davanmonet-header-logo" src="/static/logo.png"></a>
			<nav class="davanmonet-header-nav">
				<a href="/" class="davanmonet-header-nav-link">Home</a>
			</nav>
			<a href="https://github.com/wezz/DaVanMonet" class="davanmonet-header-github-link" title="Go to the GitHub Repository"><img alt="Image of the github logo" class="davanmonet-header-github-logo" src="/static/github-mark.svg"></a>
		</header>
		<navigation 
			class="davanmonet-navcontainer" 
			v-if="configLoaded == true"
			:navigation="navigation" 
			:source-directory="projectConfig.directories.src"></navigation>
		<maincontent 
			class="davanmonet-maincontentcontainer" 
			v-if="configLoaded == true && maincontent"
			:content="maincontent"
			:css-breakpoints="projectConfig.developmentenvironment.cssbreakpoints"
			></maincontent>
		<div v-if="configLoaded == false">
			Loading...
		</div>
	</div>
	</body>
</html>
