body {
  margin: 0;
  font-family: 'calibri';
}

h1 {
  text-align: center;
  margin-left: 0;
  font-size: 50px;
  border-bottom: 2px solid #e3e3e4;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
 margin-left: 100px;
 margin-top: 50px;
 font-size: 30px;
}

.intro-p {
  text-align: center;
  margin-left: 0;
}

p {
  margin-left: 120px;
  font-size: 20px;
}

hr {
  display: none;
}

nav {
  text-align: center;
  display: block;
  background-color: #D4EFFC;
  font-size: 20px;
  padding: 25px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px; 
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  background-color: #9D9D9D;
  color: #ffffff;
  padding: 10px;
}

code {
  max-width: 30%;
  display: block;
  margin-left: 100px;
}
